{#
    Inputs:
        interface: name of the interface to add/modify the security zone
        security_zone: name of the security zone to modify
        system_services: list of services to add to the zone
        screen: name of the security screen for the zone. [optional]
#}

<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
    <security>
        <zones>
            <security-zone>
                <name>{{ data['security_zone'] }}</name>
                {% if data['screen'] %}
                <screen>{{ data['screen'] }}</screen>
                {% endif %}
                <interfaces>
                    <name>{{ data['interface'] }}</name>
                    <host-inbound-traffic>
                        {% for service in data['system_services'] %}
                        <system-services>
                            <name>{{ service }}</name>
                        </system-services>
                        {% endfor %}
                    </host-inbound-traffic>
                </interfaces>
            </security-zone>
        </zones>
    </security>
</configuration></config>
</edit-config>
</rpc>
