{#
    Inputs:
        name: Name of the routing instance to modify
        protocols_bgp: BGP properties to be created
#}

<rpc>
    <edit-config>
        <target>
            <candidate/>
        </target>
        <config>
            <configuration>
                {%- if 'name' in data -%}
                    {%- set routerName = data['name'] -%}
                {%- else -%}
                    {%- set routerName = '' -%}
                {%- endif -%}
                {%- if routerName != 'Global Router' -%}
                <routing-instances>
                    <instance>
                        <name>{{routerName}}</name>
                {%- endif -%}
                {%- if 'protocols_bgp' in data -%}
                    {%- set protocolsBgp = data['protocols_bgp'] -%}
                        {%- if protocolsBgp['admin_state'] or protocolsBgp['description'] or protocolsBgp['global_preference'] or protocolsBgp['groups'] -%}
                    <protocols>
                        <bgp>
                            {% if 'admin_state' in data['protocols_bgp'] %}
                                {% if data['protocols_bgp']['admin_state'] == 'Disabled' %}
                                    <disable operation="replace"></disable>
                                {% else %}
                                    <disable operation="delete"></disable>
                                {% endif %}
                            {% endif %}
                            {% if 'description' in data['protocols_bgp'] %}
                                <description operation="replace">{{ data['protocols_bgp']['description'] }}</description>
                            {% endif %}
                            {% if 'global_preference' in data['protocols_bgp'] %}
                                <preference operation="replace">{{ data['protocols_bgp']['global_preference'] }}</preference>
                            {% endif %}
                            {% if 'groups' in data['protocols_bgp'] %}
                                {% for group in data['protocols_bgp']['groups'] %}
                                    <group operation="replace">
                                    {% if 'group_name' in group %}
                                        <name>{{ group['group_name'] }}</name>
                                    {% endif %}
                                    {% if 'description' in group %}
                                        <description>{{ group['description'] }}</description>
                                    {% endif %}
                                    {% if 'preference' in group %}
                                        <preference>{{ group['preference'] }}</preference>
                                    {% endif %}
                                    {% if 'type' in group %}
                                        <type>{{ group['type'] }}</type>
                                    {% endif %}
                                    {% if 'peer_as' in group %}
                                        <peer-as>{{ group['peer_as'] }}</peer-as>
                                    {% endif %}
                                    {% if 'local_as' in group %}
                                        <local-as>{{ group['local_as'] }}</local-as>
                                    {% endif %}
                                    {% if 'allows' in group %}
                                        {% for allow in group['allows'] %}
                                            {% if 'allow_address' in allow %}
                                                <allow>{{ allow['allow_address'] }}</allow>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if 'neighbors' in group %}
                                        {% for neighbor in group['neighbors'] %}
                                            <neighbor>
                                            {% if 'address' in neighbor %}
                                                <address>{{ neighbor['address'] }}</address>
                                            {% endif %}
                                            {% if 'local_address' in neighbor %}
                                                <local-address>{{ neighbor['local_address'] }}</local-address>
                                            {% endif %}
                                            {% if 'as_override' in neighbor %}
                                                {% if neighbor['as_override'] %}
                                                    <as-override operation="replace"></as-override>
                                                {% else %}
                                                    <as-override operation="delete"></as-override>
                                                {% endif %}
                                            {% endif %}
                                            </neighbor>
                                        {% endfor %}
                                    {% endif %}
                                    {% if 'import_policies' in group %}
                                        {% for import in group['import_policies'] %}
                                            <import>{{import}}</import>
                                        {% endfor %}
                                    {% endif %}
                                    {% if 'export_policies' in group %}
                                        {% for export in group['export_policies'] %}
                                            <export>{{export}}</export>
                                        {% endfor %}
                                    {% endif %}
                                    </group>
                                {% endfor %}
                            {% endif %}
                        </bgp>
                        </protocols>
                        {% endif %}
                {% endif %}
                {%- if routerName != 'Global Router' -%}
                    </instance>
                </routing-instances>
                {%- endif -%}
            </configuration>
        </config>
    </edit-config>
</rpc>
