
<rpc>
    <get-configuration>
        <configuration>
            <routing-instances>
                <instance>
                    <name>{{ data['name'] }}</name>
                    <protocols>
                        <bgp>
                        </bgp>
                    </protocols>
                </instance>
            </routing-instances>
        </configuration>
    </get-configuration>
</rpc>
