
<rpc>
    <get-configuration>
        <configuration>
            {%- if 'name' in data -%}
                {%- set routerName = data['name'] -%}
            {%- else -%}
                {%- set routerName = '' -%}
            {%- endif -%}
            {%- if routerName != 'Global Router' -%}
            <routing-instances>
                <instance>
                    <name>{{routerName}}</name>
            {%- endif -%}
                    <protocols>
                        <bgp>
                        </bgp>
                    </protocols>
            {%- if routerName != 'Global Router' -%}
                </instance>
            </routing-instances>
            {%- endif -%}
        </configuration>
    </get-configuration>
</rpc>
