
<rpc>
    <get-configuration>
        <configuration>
            <protocols>
                <bgp>
                </bgp>
            </protocols>
        </configuration>
    </get-configuration>
</rpc>
