{
{%- if data['configuration'] %}
    {%- set security = data.configuration.security %}
    {%- set policies = security.policies['policy'] %}
    {%- set security_zones = security.zones['security-zone'] %}
    "name": "Firewall",
    {%- if policies %}
        "policies":
            [
            {%- for policy in policies %}
                {
                "from_zone_name": "{{ policy['from-zone-name'] }}",
                "to_zone_name": "{{ policy['to-zone-name'] }}"
                {%- set inner_policies = policy['policy'] %}
                {%- if inner_policies %}
                    ,
                    "policies":
                    [
                    {%- for inner_policy in inner_policies %}
                        {
                            "name": "{{ inner_policy.name }}",
                            {%- if inner_policy.match %}
                            "match": {
                                {%- set src_addrs = inner_policy.match['source-address'] %}
                                {%- if src_addrs %}
                                    "source_addresses": [
                                        {%- for src_addr in src_addrs %}
                                        "{{ src_addr }}"{%- if not loop.last %},{%- endif %}
                                        {%- endfor %}
                                    ],
                                {%- endif %}

                                {%- set dst_addrs = inner_policy.match['destination-address'] %}
                                {%- if dst_addrs %}
                                    "destination_addresses": [
                                        {%- for dst_addr in dst_addrs %}
                                        "{{ dst_addr }}"{%- if not loop.last %},{%- endif %}
                                        {%- endfor %}
                                    ],
                                {%- endif %}

                                {%- set applications = inner_policy.match['application'] %}
                                {%- if applications %}
                                    "applications": [
                                        {%- for application in applications %}
                                        "{{ application }}"{%- if not loop.last %},{%- endif %}
                                        {%- endfor %}
                                    ]
                                {%- endif %}

                            },
                            {%- endif %}
                            "then": "{{"permit" if "permit" in inner_policy.then else "reject" if "reject" in inner_policy.then else "deny"}}"
                        }{%- if not loop.last %},{%- endif %}
                    {%- endfor %}
                    ]
                {%- endif %}
                }{%- if not loop.last %},{%- endif %}
            {%- endfor %}
            ],
    {%- endif %}

    {%- if security_zones %}
        "security_zones":
            [
            {%- for security_zone in security_zones -%}
                {
                "name": "{{ security_zone.name }}",
                {%- set interfaces = security_zone['interfaces'] -%}
                {%- if interfaces %}
                "interfaces": [
                {%- for iface in interfaces -%}
                    "{{ iface.name }}"{%- if not loop.last -%},{%- endif -%}
                {%- endfor -%}
                ],
                {%- endif %}
                {%- set addresses = security_zone['address-book'] -%}
                {%- if addresses %}
                    "addresses": [
                    {%- for address in addresses %}
                    {
                        "name": "{{ address.address.name }}",
                        "ip_prefix": "{{ address.address['ip-prefix'] }}"
                    }{%- if not loop.last -%},{%- endif -%}
                    {%- endfor %}
                    ]
                {%- endif %}


            }{%- if not loop.last -%},{%- endif -%}
            {%- endfor -%}
            ]
    {%- endif %}

{%- endif %}
}