[
{%- if data['configuration'] -%}
{%- set security_zones = data.configuration.security.zones['security-zone'] -%}
{%- for security_zone in security_zones -%}
{
    "name": "{{ security_zone.name }}",
    {%- set interfaces = security_zone['interfaces'] -%}
    "interfaces": [
    {%- for iface in interfaces -%}
    {
        "name": "{{ iface.name }}",
        {%- if 'host-inbound-traffic' in iface -%}
        "inbound-traffic-services": [
            {% for service in iface['host-inbound-traffic']['system-services'] -%}
            "{{ service.name }}"{%- if not loop.last -%},{%- endif -%}
            {% endfor -%}
        ]
        {%- endif -%}
    }{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
    ]
}{%- if not loop.last -%},{% endif -%}
{%- endfor -%}
{%- endif -%}
]