{
    "name": "Global Router",
{%- if data['configuration'] %}
{%- set options = data.configuration['routing-options'] %}
    {% if options.get('static') and options['static'].get('route') %}
    "static_routes": [
        {%- for route in options['static']['route'] %}
        {
            "destination": "{{ route.name }}",
            "next_hop":"{{ route['next-hop'] }}"
        },
        {%- endfor %}
    ]
    {% endif %}
{%- endif %}
}

