{#
    Input:
        security_zone: Optional security-zone to get
            If security_zone is missing, all security zones will be returned
        interface: Optional interface name to get security_zone for
            If security zone is missing interface will be ignored

    Note: If Security Zone is correct but the interface name does not exist in the zone,
          The device will still return an empty config
#}

<rpc>
    <get-configuration>
        <configuration>
            <security>
                <zones>
                    <security-zone>
                        {% if data.get('security_zone') %}
                        <name>{{ data['security_zone'] }}</name>
                            {% if data.get('interface') %}
                            <interfaces>
                                <name>{{ data['interface'] }}</name>
                            </interfaces>
                            {% endif %}
                        {% endif %}
                    </security-zone>
                </zones>
            </security>
        </configuration>
    </get-configuration>
</rpc>
