{
{%- if data['configuration'] -%}
    {%- if data['configuration']['routing-instances'] %}
        {%- if data['configuration']['routing-instances'] is mapping -%}
            {%- set instance = data['configuration']['routing-instances']['instance'] -%}
                "name": "{{instance['name']}}",
                "interfaces": [
            {%- if instance['interface'] -%}
                {%- if instance['interface'] is mapping -%}
                    "{{instance['interface']['name']}}"
                {%- else -%}
                    {%- for interface in instance['interface'] -%}
                        {%- set interfaceName = interface['name'] -%}
                        "{{interfaceName}}"{%- if not loop.last -%},{%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}
                ]
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
}