{% from 'dbmacros.tmpl' import render_l2circuit %}
<rpc-reply xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:junos="http://xml.juniper.net/junos/12.1X44/junos" message-id="{{ message_id }}">
<data>
<configuration xmlns="http://xml.juniper.net/xnm/1.1/xnm" junos:commit-seconds="1420244965" junos:commit-localtime="2015-01-03 00:29:25 UTC" junos:commit-user="root">
    <protcols>
        <l2circuit>
            {%- set circuits = db.l2circuits if line.circuit is undefined else db.l2circuits|selectattr("name", "equalto", line.circuit) %}
            {%- for circuit in circuits %}
            {{ render_l2circuit(circuit)|indent(12) }}
            {%- endfor %}
        </l2circuit>
    </protcols>
</configuration>
</data>
</rpc-reply>
