before_script:
  - sudo su
  - cd /home/vagrant/shared/bp-ra-juniper-ws 
  - echo "Clean Enviornment"
  - make clean
  - echo "Build Enviornment- Prepare RA"
  - make TOOLKIT_DIR=/home/vagrant/.devops-toolkit prepare-venv
  - echo "Running a test cases - starts"
  - make test
  - echo "Running a test cases - ends"
  - echo "Deploying & Running RA-Juniper"
#  - env/bin/rajuniper --dev --declare-rp --no-clustering
  - env/bin/rajuniper 1>/home/vagrant/shared/bp-ra-juniper-ws/temp 2>&1 &

stages:
  - build_deploy
build_&_deploy_app:
  stage: build_deploy
  environment:
    name: production
    url: http://192.168.20.21
  tags:
    - ra-juniper
  script:
    - cd /home/vagrant/shared/bp-ra-juniper-ws
    - URL="http://192.168.25.21:9000"
    - USER="admin"
    - PASSWORD="admin"
    - SONAR_PROJECT_VERSION="1.0"
    - SONAR_PROJECT_NAME="sonar_gitlab"
    - SONAR_PROJECT_KEY="sonarqube_gitlab"
    - SONAR_ANALYSIS_MODE="preview"
    - if [ -z "$SONAR_PROJECT_KEY" ]; then
    - echo "Undefined \"projectKey\"" && exit 1
    - else
    - COMMAND="/home/vagrant/sonar-scanner-3.0.1.733-linux/bin/sonar-scanner -Dsonar.host.url=\"$URL\" -Dsonar.login=\"$USER\" -Dsonar.password=\"$PASSWORD\" -Dsonar.projectKey=\"$SONAR_PROJECT_KEY\""
    - if [ ! -z $SONAR_ANALYSIS_MODE ]; then
    - COMMAND="$COMMAND -Dsonar.analysis.mode=\"$SONAR_ANALYSIS_MODE\""
    - if [ $SONAR_ANALYSIS_MODE="preview" ]; then
    - COMMAND="$COMMAND -Dsonar.issuesReport.console.enable=true"
    - fi
    - fi
    - eval $COMMAND
    - fi
    - exit


