# NOTE: git@ only works with -e

# bpprov
pysnmp==4.1.16d
jinja2==2.7.3
jsonschema==2.3.0
jsoncomment==0.3.0
jsonpatch==1.9
jsonpointer==1.5
markupsafe==0.23
pyparsing==2.0.2
beautifulsoup4==4.3.2
xmltodict==0.9.0
six==1.8.0
pyang==1.4.1
textfsm==0.2.1
jsonpath==0.54
#packages not directly pip installable
git+git://github.cyanoptics.com/ea/bp-prov.git#egg=bpprov

# easdk
git+git://github.cyanoptics.com/easdk/cyml.git#egg=cyml
git+git://github.cyanoptics.com/easdk/cymlrest.git#egg=cymlrest
git+git://github.cyanoptics.com/easdk/bp-eamodels.git#egg=bpeamodels
git+git://github.cyanoptics.com/easdk/easdk-python.git#egg=easdk

#testing
mock==1.0.1
nose==1.3.4
coverage==3.7.1
pep8==1.5.7
flake8==2.2.3

netifaces==0.10.4
-e .
