{#
    Inputs:
        interface: name of the interface to craete the logical interface on
        unit: name of the logical interface unit
#}

<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
    <interfaces>
        <interface>
            <name>{{ data['interface'] }}</name>
            {% if 'admin_status' in data %}
                {% if data.admin_status == 'True' %}
            <disable operation="delete"/>
                {% else %}
            <disable/>
                {% endif %}
            {% endif %}

            {# if the interface does not exist, create it #}
            {% if data['get-results']['statusCode'] == '404' %}
            <unit>
                <name>{{ data['unit'] }}</name>
                <family>
                    <inet>
                        <dhcp/>
                    </inet>
                </family>
            </unit>
            {% endif %}
        </interface>
    </interfaces>
</configuration></config>
</edit-config>
</rpc>
