{
    {% set security_zone = data['security-zone'] if 'security-zone' in data else 'untrust' %}
    "security-zone": "{{ security_zone }}",
    "interface": "{{ data['name'] }}",
    {% set services = data['system-services'] if 'system-services' in data else ["http", "https", "ssh", "telnet", "dhcp", "ping", "netconf"] %}
    "system-services": [
        {% for service in services %}
        "{{ service }}"{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}