{#
    Input:
        application: Optional application to get
            If application is missing, all applications will be returned
#}

<rpc>
    <get-configuration>
        <configuration>
            <applications>
            </applications>
        </configuration>
    </get-configuration>
</rpc>