{#
    Input:
        interface: Optional interface to get
            If interface is missing, all interfaces will be returned
        unit: Optional unit name to get logical unit for
            If interface is missing unit will be ignored
#}

<rpc>
    <get-configuration>
        <configuration>
            <security>
            </security>
        </configuration>
    </get-configuration>
</rpc>