[
{%- if data['configuration'] -%}
{%- set data_zones = data.configuration.security.zones['security-zone'] -%}
{%- set security_zones = data_zones if data_zones.__class__ == [].__class__ else
                [data_zones] if data_zones.__class__ == {}.__class__ else [] -%}
{%- for security_zone in security_zones -%}
{
    "name": "{{ security_zone.name }}",
    {%- set interfaces = security_zone['interfaces'] if security_zone['interfaces'].__class__ == [].__class__ else
                        [security_zone['interfaces']] if security_zone['interfaces'].__class__ == {}.__class__ else [] -%}
    "interfaces": [
    {%- for iface in interfaces -%}
    {
        "name": "{{ iface.name }}",
        {%- if 'host-inbound-traffic' in iface -%}
        "inbound-traffic-services": [
            {% for service in iface['host-inbound-traffic']['system-services'] -%}
            "{{ service.name }}"{%- if not loop.last -%},{%- endif -%}
            {% endfor -%}
        ]
        {%- endif -%}
    }{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
    ]
}{%- if not loop.last -%},{% endif -%}
{%- endfor -%}
{%- endif -%}
]