{% set ports = data['ports'] %}
{% set allowed_ports = { 'xe', 'ge', 'et', 'lt' } %}
[
{% for port in ports
    if port['name']|string|trim.split('-', 1)[0] in allowed_ports recursive %}
    {% set name = port['name']|string|trim %}
    {% set speed = port['speed']|string|trim %}
    {% set strip_len = (name|length)-3 %}
    {% set eth_type = (name|truncate((name|length)-strip_len, True))|replace('...', '') %}
    {
        "name": "{{ name }}",
        "link_level_type": "{{ port['link-level-type']|trim|default('') }}",
        "speed": "{{ speed }}",
        "admin_status": {{ 'true' if port['admin-status'] == 'up' else 'false' }},
        "oper_status": {{ 'true' if port['oper-status'] == 'up' else 'false' }},
        "mtu": "{{ port['mtu']|trim|default('') }}",
        "mac_address": "{{ port['current-physical-address']|trim|default('') }}"
    }{% if not loop.last or ports['logical-interface'] %}, {% endif %}
    {% if port['logical-interface']|default([]) %}
        {% set outer_loop = loop %}
        {% for vport in port['logical-interface'] %}
            {
                "name": "{{ vport['name']|string|trim }}",
                "physical_interface": "{{ name }}", {# This field only here for logical interfces to give a reference to their parent phycsial interfaces #}
                "link_level_type": "virtual", {# This shows that this device is a logical-interface #}
                "mtu": "{{ vport['address-family']['mtu'] }}",
                {# For now these parameters will be the same as the parent physical port #}
                "speed": "{{ speed }}",
                "admin_status": {{ 'true' if port['admin-status'] == 'up' else 'false' }},
                "oper_status": {{ 'true' if port['oper-status'] == 'up' else 'false' }}
            }{% if not loop.last or not outer_loop.last %},{% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
]