<rpc>
<edit-config><target><candidate/></target>
	<config><configuration>
		<protocols>
		    <oam>
		        <ethernet>
		            <connectivity-fault-management>
		                <maintenance-domain>
		                    <name>{{data['MDName']}}</name>
		                    <level>{{data['MDLevel']}}</level>	
		                    <name-format>character-string</name-format>	                 
		                    <maintenance-association>
		                        <name>{{data['MAName']}}</name>
								<short-name-format>character-string</short-name-format>
		                        <continuity-check>
		                            <interval>{{data['CCMInterval']}}s</interval>
									<hold-interval>3</hold-interval>
		                        </continuity-check>
		                        <mep>
									<name>{{data['MEPID']}}</name>
		                            <interface>{{data['interfaceName']}}.{{data['serviceVlanid']}}</interface>
                                    {%- if(data['isUPDirection']) %}
                                        <direction>up</direction>
                                    {%- else %}
                                        <direction>down</direction>
                                    {%- endif %}
									{%- if(data['COS'] == 'RT') %}
										<priority>4</priority>
									{%- endif %}
									{%- if(data['COS'] == 'MC') %}
										<priority>2</priority>
									{%- endif %}
									{%- if(data['COS'] == 'SD') %}
										<priority>0</priority>
									{%- endif %}
                                    {%- if(data['autoDiscovery']) %}
                                        <auto-discovery>
                                        </auto-discovery>
                                    {%- endif %}
		                        </mep>
		                    </maintenance-association>
		                </maintenance-domain>
		            </connectivity-fault-management>
		        </ethernet>
		    </oam>
		</protocols>
	</configuration></config>
	</edit-config>
</rpc>