{% from "create-interface-ws.tmpl" import get_interface_xml_config%}
{% from "create-vrfpolicy-ws.tmpl" import get_vrfpolicy_xml_config%}
{% from "create-routinginstance-ws.tmpl" import get_routing_instance_xml_config%}
{% from "create-classofservice-ws.tmpl" import get_class_of_service_xml_config%}
{% set l3vpn_data = data["properties"] %}
<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
{%- if l3vpn_data.get('extension', {}).get('interface', None) -%}
{{ get_interface_xml_config(l3vpn_data)|indent(4) }}
{%- endif -%}
{% if l3vpn_data.get('attachment', {}).get('connection', {}).get('routing-instance', None) -%}
{{ get_routing_instance_xml_config(l3vpn_data)|indent(4) }}
{%- endif -%}
{% if l3vpn_data.get('extension', {}).get('VrfPolicy', None) -%}
{{ get_vrfpolicy_xml_config(l3vpn_data)|indent(4) }}
{%- endif -%}
{% if l3vpn_data.get('attachment', {}).get('connection', {}).get('class-of-service', None) -%}
{{ get_class_of_service_xml_config(l3vpn_data)|indent(4) }}
{%- endif %}
</configuration></config>
</edit-config>
</rpc>
