{% macro get_interface_xml_config(data) %}
{% set data= data['extension']['interface'] %}
{% set interface_operation = data['operation'] %}
    <interfaces>
         <interface>
               <name>{{ data['name'] }}</name>
               {% if interface_operation == "delete" %}
               <unit operation="delete" >
                  <name>{{ data['l3vpnVlan'] }}</name>
               {% else %}
               <unit>
                  <name>{{ data['l3vpnVlan'] }}</name>
                  {% if data['description'] %}
                  <description>{{ data['description'] }}</description>
                  {% endif %}
                  {% if data['bandwidth'] %}
                  <bandwidth>{{ data['bandwidth'] }}</bandwidth>
                  {% endif %}
                  {% if data['vlan-id'] %}
                  <vlan-id>{{ data['vlan-id'] }}</vlan-id>
                  {% endif %}
                  {% if data['logicalEncapsulation'] %}
                  <encapsulation>{{ data['logicalEncapsulation'] }}</encapsulation>
                  {% endif %}
                  <family>
                  {% if data["ccc_policer"] %}
                      <ccc>
                          <policer>
                          {% if data["ccc_policer"]["input"] %}
                            <input>{{ data["ccc_policer"]["input"] }}</input>
                          {% endif %}
                          {% if data["ccc_policer"]["output"] %}
                            <output>{{ data["ccc_policer"]["output"]}}</output>
                          {% endif %}
                          </policer>
                      </ccc>
                  {% else %}
                      <inet>
                          {% if data['address'] %}
                          <address>
                              <name>{{ data['address'] }}</name>
                          </address>
                          {% endif %}
                          <filter>
                              {% if data['inputServicePolicy'] %}
                              <input>
                                    <filter-name>{{ data['inputServicePolicy'] }}</filter-name>
                              </input>
                              {% endif %}
                              {% if data['outputServicePolicy'] %}
                              <output>
                                    <filter-name>{{ data['outputServicePolicy'] }}</filter-name>
                              </output>
                              {% endif %}
                          </filter>
                       </inet>
                   {% endif %}
                  </family>
              {% endif %}
              </unit>
        </interface>
    </interfaces>
{% endmacro %}