{% if "ok" in data["output"] %}
{
    "label": "{{ data['properties']['name'] }}",
    "properties": {{ data["properties"] | to_json }},
    "orchState": "active"
}
{% else %}
{
    "label": "{{ data['properties']['name'] }}",
    "properties": {{ data["properties"] | to_json }},
    "orchState": "failed",
    "reason": "{{ data['output'] }}"
}
{% endif %}