{%- macro get_pe_cos_xml_config(data) %}
{%- set interfaces = data['interfaces'] %}
    <class-of-service>
            <interfaces>
{%- for interface_ops in interfaces %}
{%- set interface_subinterface_ops = interface_ops['subInterface']%}
                <interface>
                <name>{{interface_ops['name']}}</name>
                <unit>
                    <name>{{interface_subinterface_ops['name']}}</name>
                        {%- if (interface_ops['isENNI'] == False) %}
                        <output-traffic-control-profile>
                            {%- if (data['serviceType'] == 'ELINE') %}
                            <profile-name>{{interface_subinterface_ops['outputTCP']}}</profile-name>
                            {%- else %}
                            <profile-name>EACCESS-TCP</profile-name>
                            {%- endif %}
                        </output-traffic-control-profile>
                        {%- endif %}
                        <classifiers>
                            {%- if (interface_subinterface_ops['classifiers'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
							{%- if (interface_ops['isENNI'] == False) %}
							<classifier-name>{{interface_subinterface_ops['classifiers'][0]['value']}}</classifier-name>
							{%- else %}
							<classifier-name>EACCESS_ENNI_{{data['COS']}}</classifier-name>
							{%- endif %}
                            </ieee-802.1>
                            {%- endif %}
                        </classifiers>
                        {%- if (data['serviceType'] == 'EACCESS') %}
                        <rewrite-rules>
                            {%- if (interface_subinterface_ops['rewriteRules'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
                            <rewrite-rule-name>{{interface_subinterface_ops['rewriteRules'][0]['value']}}</rewrite-rule-name>
                            </ieee-802.1>
                            {%- endif %}
                        </rewrite-rules>
                        {%- endif %}
                    </unit>
                </interface>
{%- endfor %}
            </interfaces>
        </class-of-service>
{%- endmacro %}
