{%- macro get_pe_cos_xml_config(data) %}
{%- set interfaces = data['interfaces'] %}
    <class-of-service>
            <interfaces>
{%- for interface_ops in interfaces %}
{%- set interface_subinterface_ops = interface_ops['subInterface']%}
                <interface>
                <name>{{interface_ops['name']}}</name>
                <unit>
                    <name>{{interface_subinterface_ops['name']}}</name>
                        {%- if (interface_ops['isENNI'] == False) %}
                        <output-traffic-control-profile>
                            {%- if (data['serviceType'] == 'ELINE') %}
                            <profile-name>{{interface_subinterface_ops['outputTCP']}}</profile-name>
                            {%- else %}
                            <profile-name>EACCESS-TCP</profile-name>
                            {%- endif %}
                        </output-traffic-control-profile>
                        {%- endif %}
                        <classifiers>
                            {%- if (interface_subinterface_ops['classifiers'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
							{# start changes for SDN-864#}
								{%- if (data['COS'] == 'RT') %}
								<classifier-name>EACCESS_ENNI_RT</classifier-name>
								<forwarding-class>
								<name>medium</name>
									<loss-priority>high</loss-priority>
									<code-points>[ 000 001 010 011 100 101 110 111 ]</code-points>
								</forwarding-class>
								{%- endif %}
								{%- if (data['COS'] == 'MC') %}
								<classifier-name>EACCESS_ENNI_MC</classifier-name>
								<forwarding-class>
								<name>medium-low</name>
									<loss-priority>high</loss-priority>
									<code-points>[ 000 001 010 011 100 101 110 111 ]</code-points>
								</forwarding-class>
								{%- endif %}
								{%- if (data['COS'] == 'SD') %}
								<classifier-name>EACCESS_ENNI_SD</classifier-name>
								<forwarding-class>
								<name>low</name>
									<loss-priority>low</loss-priority>
									<code-points>[ 000 001 010 011 100 101 110 111 ]</code-points>
								</forwarding-class>
								{%- endif %}
								{# end changes for SDN-864#}
                            </ieee-802.1>
                            {%- endif %}
                        </classifiers>
                        {%- if (data['serviceType'] == 'EACCESS') %}
                        <rewrite-rules>
                            {%- if (interface_subinterface_ops['rewriteRules'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
                            <rewrite-rule-name>{{interface_subinterface_ops['rewriteRules'][0]['value']}}</rewrite-rule-name>
                            </ieee-802.1>
                            {%- endif %}
                        </rewrite-rules>
                        {%- endif %}
                    </unit>
                </interface>
{%- endfor %}
            </interfaces>
        </class-of-service>
{%- endmacro %}
