{%- macro get_pe_cos_xml_config(data) %}
{%- set interfaces = data['interfaces'] %}
    <class-of-service>
            <interfaces>
{%- set index = 0 %}
{%- for interface_ops in interfaces %}
{%- set interface_subinterface_ops = interface_ops['subInterface']%}
{%- if index == 0 %}
                <interface>
                <name>{{interface_ops['name']}}</name>
                <unit>
                    <name>{{interface_subinterface_ops['name']}}</name>
                        <output-traffic-control-profile>
                            {%- if (data['serviceType'] == 'E-LINE') %}
                            <profile-name>{{interface_subinterface_ops['outputTCP']}}</profile-name>
                            {%- elif (interface_ops['isENNI'] == False) %}
                            <profile-name>EACCESS-TCP</profile-name>
                            {%- endif %}
                        </output-traffic-control-profile>
                        <classifiers>
                            {%- if (interface_subinterface_ops['classifiers'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
                            {%- if (interface_ops['isENNI'] == False) %}
                            <classifier-name>{{interface_subinterface_ops['classifiers'][0]['value']}}</classifier-name>
                            {%- else %}
                            <classifier-name>CUSTOMER_PBIT_CLASSIFIER_MEF23_1</classifier-name>
                            {%- endif %}
                            </ieee-802.1>
                            {%- endif %}
                        </classifiers>
                        {%- if (data['serviceType'] == 'E-ACCESS') %}
                        <rewrite-rules>
                            {%- if (interface_subinterface_ops['rewriteRules'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
                            {%- if (interface_ops['isENNI'] == False) %}
                            <rewrite-rule-name>{{interface_subinterface_ops['rewriteRules'][0]['value']}}</rewrite-rule-name>
                            {%- else %}
                            <rewrite-rule-name>EACCESS-ENNI-REWRITE</rewrite-rule-name>
                            {%- endif %}
                            </ieee-802.1>
                            {%- endif %}
                        </rewrite-rules>
                        {%- endif %}
                    </unit>
                </interface>
{%- else %}
            <interfaces>
                <interface>
                <name>{{interface_ops['name']}}</name>
                <unit>
                    <name>{{interface_subinterface_ops['name']}}</name>
                        <output-traffic-control-profile>
                            {%- if (data['serviceType'] == 'E-LINE') %}
                            <profile-name>{{interface_subinterface_ops['outputTCP']}}</profile-name>
                            {%- elif (interface_ops['isENNI'] == False) %}
                            <profile-name>EACCESS-TCP</profile-name>
                            {%- endif %}
                        </output-traffic-control-profile>
                        <classifiers>
                            {%- if (interface_subinterface_ops['classifiers'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
                            {%- if (interface_ops['isENNI'] == False) %}
                            <classifier-name>{{interface_subinterface_ops['classifiers'][0]['value']}}</classifier-name>
                            {%- else %}
                            <classifier-name>CUSTOMER_PBIT_CLASSIFIER_MEF23_1</classifier-name>
                            {%- endif %}
                            </ieee-802.1>
                            {%- endif %}
                        </classifiers>
                        {%- if (data['serviceType'] == 'E-ACCESS') %}
                        <rewrite-rules>
                            {%- if (interface_subinterface_ops['rewriteRules'][0]['name'] == 'ieee-802.1') %}
                            <ieee-802.1>
                            {%- if (interface_ops['isENNI'] == False) %}
                            <rewrite-rule-name>{{interface_subinterface_ops['rewriteRules'][0]['value']}}</rewrite-rule-name>
                            {%- else %}
                            <rewrite-rule-name>EACCESS-ENNI-REWRITE</rewrite-rule-name>
                            {%- endif %}
                            </ieee-802.1>
                            {%- endif %}
                        </rewrite-rules>
                        {%- endif %}
                    </unit>
                </interface>
{%- endif %}
{%- set index = index + 1 %}
{%- endfor %}
            </interfaces>
        </class-of-service>
{%- endmacro %}