{#
    Inputs:
        interface: name of the interface to create the logical interface on
        unit: name of the logical interface unit
#}

<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
    <interfaces>
        <interface>
            <name>{{ data['interface'] }}</name>
            {% if 'admin_status' in data %}
                {% if data.admin_status == 'True' %}
            <disable operation="delete"/>
                {% elif data.admin_status == 'False' %}
            <disable/>
                {% endif %}
            {% endif %}

            <unit>
                <name>{{ data['unit'] }}</name>
            {% if 'description' in data %}
                <description>{{ data['description'] }}</description>
            {% endif %}
            {% if 'vlan_id' in data %}
                <vlan-id>{{ data['vlan_id'] }}</vlan-id>
            {% endif %}
            <family>
                {% if data["ccc_filter"] %}
                 <ccc>
                    <filter>
                        {% if data["ccc_filter"]["input"] %}
                        <input-list>
                            {% for input_filter in data["ccc_filter"]["input"] %}
                            <filter-name>{{ input_filter }}</filter-name>
                            {% endfor %}
                        </input-list>
                        {% endif %}
                        {% if data["ccc_filter"]["output"] %}
                        <output-list>
                            {% for output_filter in data["ccc_filter"]["output"] %}
                            <filter-name>{{ output_filter }}</filter-name>
                            {% endfor %}
                        </output-list>
                        {% endif %}
                    </filter>
                 </ccc>
                {% else %}
                <inet>
                    {% if data['ipv4_addresses'] %}
                        {% for addr in data['ipv4_addresses'] %}
                        <address>
                            <name>{{ addr }}</name>
                        </address>
                        {% endfor %}
                    {% endif %}
                    {% if data.mtu %}
                    <mtu>{{ data.mtu }}</mtu>
                    {% endif %}
                </inet>
                {% endif %}
            </family>
            </unit>
        </interface>
    </interfaces>
</configuration></config>
</edit-config>
</rpc>
