<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
    <protocols>
        <l2circuit>
            <neighbor>
                <name>{{ data.properties.neighbor }}</name>
                <interface>
                    <name>{{ data.properties.interface }}</name>
                    {% if data is haspath('properties','description') %}
                    <description>{{ data.properties.description }}</description>
                    {% endif %}
                    <virtual-circuit-id>{{ data['properties']['virtual-circuit-id'] }}</virtual-circuit-id>
                    {% if data is haspath('properties','ignore-mtu-mismatch') and data['properties']['ignore-mtu-mismatch'] %}
                    <ignore-mtu-mismatch/>
                    {% endif %}
                    {% if data is haspath('properties','encapsulation-type') and data['properties']['encapsulation-type'] %}
                    <encapsulation-type>{{ data['properties']['encapsulation-type'] }}</encapsulation-type>
                    {% endif %}
                    {# TBD could not find tag in XML #}
                    <no-control-word/>
                    {% if data is haspath('properties','mtu') %}
                    <mtu>{{ data['properties']['mtu'] }}</mtu>
                    {% endif %}
                    {% if data is haspath('properties','ignore-encapsulation-mismatch') and data['properties']['ignore-encapsulation-mismatch'] %}
                    <ignore-encapsulation-mismatch/>
                    {% endif %}
                </interface>
            </neighbor>
        </l2circuit>
    </protocols>
</configuration></config>
</edit-config>
</rpc>