{%- from "delete-pe-interface-ws.tmpl" import get_pe_interface_xml_config_delete -%}
{%- from "delete-pe-cos-ws.tmpl" import get_pe_cos_xml_config_delete -%}
{%- from "delete-pe-cc-ws.tmpl" import get_pe_cc_xml_config_delete -%}
<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
{{- get_pe_interface_xml_config_delete(data) | indent(4) }}
{{- get_pe_cos_xml_config_delete(data) | indent(4)}}
{{- get_pe_cc_xml_config_delete(data) | indent(4)}}
</configuration></config>
</edit-config>
</rpc>