{%- macro get_pe_interface_xml_config_delete(data) %}
{%- set interfaces = data['interfaces'] %}
        <interfaces>
{%- for interface_ops in interfaces %}
{%- set interface_subinterface_ops = interface_ops['subInterface'] %}
            <interface>
                <name>{{interface_ops['name']}}</name>
                <unit operation = "delete">
                    <name>{{interface_subinterface_ops['name']}}</name>
                </unit>
            </interface>
{%- endfor %}
        </interfaces>
{%- endmacro %}