{%- set interfaces = data['interfaces'] %}
<rpc>
<get-config>
<source><running/></source>
    <filter type="subtree">
        <configuration>
			<firewall>
				{%- for interface_ops in interfaces %}
				{%- if (interface_ops['isENNI'] == True) %}
				<policer>{{interface_ops['policer']['cir']}}Meg</policer>
				{%- endif %}
				{%- endfor %}
			</firewall>
        </configuration>
    </filter>
</get-config>
</rpc>