<rpc>
<get-config>
<source><running/></source>
<filter type="subtree">
<configuration>
    <interfaces>
         <interface-set>
              <interface-set-name>{{ data['INTSETNAME'] }}</interface-set-name>
         </interface-set>
        <interface>
            <name>{{ data['PARENTINT'] }}</name>
        </interface>
    </interfaces>
</configuration>
</filter>
</get-config>
</rpc>