<rpc>
<get-config>
<source><running/></source>
<filter type="subtree">
    <configuration>
        <policy-options>
           {% if data['statement-name'] %}
            <policy-statement>
                 <name>{{ data['statement-name'] }}</name>
            </policy-statement>
           {% endif %}
           {% if data['community-name'] %}
             <community>
                 <community_name>{{ data['community-name'] }}</community_name>
             </community>
           {% endif %}
        </policy-options>
    </configuration>
</filter>
</get-config>
</rpc>