[
    { "layer": "LR_PHYSICAL_OPTICAL"},
    { "layer": "LR_DSR_100Megabit_Ethernet"},
    { "layer": "LR_DSR_Gigabit_Ethernet"},
    { "layer": "LR_DSR_10Gigabit_Ethernet"},
    { "layer": "LR_Ethernet"},
    { "layer": "LR_CLIENT_ERP"},
    { "layer": "LR_ERP"}
]