{% from 'dbmacros.tmpl' import render_firewall_three_color %}
<rpc-reply xmlns="urn:ietf:params:xml:ns:netconf:base:1.0" xmlns:junos="http://xml.juniper.net/junos/12.1X44/junos" message-id="{{ message_id }}">
<data>
<configuration xmlns="http://xml.juniper.net/xnm/1.1/xnm" junos:commit-seconds="1420244965" junos:commit-localtime="2015-01-03 00:29:25 UTC" junos:commit-user="root">
    <firewall>
        {%- set firewalls = db.firewalls if line.policer is undefined else db.firewalls|selectattr("name", "equalto", line.policer) %}
        {%- for firewall in firewalls %}
        {{ render_firewall_three_color(firewall)|indent(8) }}
        {%- endfor %}
    </firewall>
</configuration>
</data>
</rpc-reply>
