{
    "type": "patch",
    "value": [{
        "op": "add",
        "path": "/alarms/-",
        "value": {
            "id": "999999",
            "meName": "Test-Alarm",
            "metype": "",
            "probCause": "NA",
            "probCauseQual": "NA",
            "severity": "Critical",
            "nereportedtime": "AUG 01 2014 10:12:36",
            "serviceaffecting": "ServiceAffecting",
            "addtext": "{{ data.sysLocationInstance }}-{{ data.sysUpTimeInstance }}",
            "nelastSettime": "AUG 01 2014 10:12:36",
            "nelastcleartime": ""
        }
    }]
}
