<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
    <class-of-service>
        <interfaces>
            <interface>
                <name>{{ data.oidAid }}</name>
                <scheduler-map>{{ data.attrVals.scheduler_map }}</scheduler-map>
            </interface>
        </interfaces>
    </class-of-service>
</configuration></config>
</edit-config>
</rpc>
