{#
    Inputs:
        name: policy statement name
        terms: list of policy terms
#}
{% set ps = data.properties %}
<rpc>
<edit-config>
<target><candidate/></target>
<config><configuration>
    <policy-options>
        <policy-statement>
            <policy_name>{{ ps.name }}</policy_name>
            {% if (ps.terms is defined) and ps.terms %}
                {% for term in ps.terms %}
                <term>
                    <term_name>{{ term.name }}</term_name>
                    <from>
                        {% if 'route_filter' in term.from %}
                        <route-filter>
                            <address>{{ term.from.route_filter.address  }}</address>
                            {% if term.from.route_filter.exact %}<exact/>{% endif %}
                        </route-filter>
                        {% elif 'community' in term.from %}
                        <community>
                            <value>{{ term.from.community }}</value>
                        </community>
                        {% elif 'protocol' in term.from %}
                        <protocol>
                            <value>{{ term.from.protocol }}</value>
                        </protocol>
                        {% endif %}
                    </from>
                    <then>
                        {% if 'community' in term.then %}
                        <community>
                            <{{ term.then.community.operation }}/>
                            <community_name>{{ term.then.community.community_name }}</community_name>
                        </community>
                        {% elif 'accept' in term.then %}
                        <accept/>
                        {% endif %}
                    </then>
                </term>
                {% endfor %}
            {% else %}
                <from>
                    {% if 'protocol' in ps.from %}
                    <protocol>
                        <value>{{ ps.from.protocol }}</value>
                    </protocol>
                    {% endif %}
                </from>
                <then>
                    {% if 'accept' in ps.then %}
                    <accept/>
                    {% endif %}
                </then>
            {% endif %}
        </policy-statement>
    </policy-options>
</configuration></config>
</edit-config>
</rpc>
