<rpc>
<edit-config>
<target><candidate/></target>
<config><configuration>
    <routing-instances>
        <instance operation="delete">
            <name>{{ data.name }}</name>
        </instance>
    </routing-instances>
</configuration></config>
</edit-config>
</rpc>
