<rpc>
<edit-config><target><candidate/></target>
<config><configuration>
  <policy-options>
    <policy-statement operation="delete">
      <policy_name>{{ data.name }}</policy_name>
    </policy-statement>
  </policy-options>
</configuration></config>
</edit-config>
</rpc>
