{%- set interface, unit = data.name.split('.')[0] if '.' in data.name else data.name, '' -%}
<rpc>
    <edit-config>
        <target>
            <candidate/>
        </target>
    <config>
        <configuration>
            <interfaces>
                <interface>
                    <name>{{ interface }}</name>
                    <disable operation="delete"/>
                </interface>
            </interfaces>
        </configuration>
    </config>
    </edit-config>
</rpc>
