[
  {% for rack, rackData in data.iteritems() %}
    {
      "containingEquipmentHolder": "{{ "equipmentHolder_" + rack}}",
      "name": "{{ rack }}",
      "installedEquipmentObjectType": "{{ rackData.get("pid", "NA") }}",
      "installedVersion": "",
      "supportedTps": [],
      "alarmReportingIndicator": false,
      "userLabel": "{{ rack }}",
      "owner": "",
      "installedSerialNumber": "{{ rackData.get("serialNumber", "NA") }}",
      "installedPartNumber": "{{ rackData.get("pid", "NA") }}",
      "expectedEquipmentObjectType": "{{ rackData.get("pid", "NA") }}",
      "containedEquipmentHolders": [
        {% for shelf, shelfData in rackData["shelves"].iteritems() if not shelf == ""%}
           {% for slot, slotData in shelfData["slots"].iteritems() if not slot == ""%}
                "{{ "equipmentHolder_" + rack + "_" + shelf + "_" + slot }}",
            {% endfor %}
        {% endfor %}
      ],
      "id": "{{ "equipment_" + rack}}",
      "nativeEMSName": "",
      "alarmStatus": "Indeterminate",
      "serviceState": "IN_SERVICE"
    }
      {% for shelf, shelfData in rackData["shelves"].iteritems() if not shelf == "" %}
        {% for slot, slotData in shelfData["slots"].iteritems() if not slot == ""%}
            ,{
              "containingEquipmentHolder": "{{ "equipmentHolder_" + rack + "_" + shelf + "_" + slot}}",
              "name": "{{ shelf + "-" + slot }}",
              "installedEquipmentObjectType": "{{ slotData.get("pid", "NA") }}",
              "installedVersion": "",
              "supportedTps": [
                {% for ptp, portData in slotData["ports"].iteritems() %}
                    {% if not ptp == "" %}
                        "{{ ptp.replace("/", "-").replace(" ","-") }}"{% if not loop.last %},{% endif %}
                    {% endif %}
                {% endfor %}
              ],
              "alarmReportingIndicator": false,
              "userLabel": "{{ shelf + "-" + slot }}",
              "owner": "",
              "installedSerialNumber": "{{ slotData.get("serialNumber", "NA") }}",
              "installedPartNumber": "{{ slotData.get("pid", "NA") }}",
              "expectedEquipmentObjectType": "{{ slotData.get("pid", "NA") }}",
              "containedEquipmentHolders": [],
              "id": "{{ "equipment_" + rack + "_" + shelf + "_" + slot }}",
              "nativeEMSName": "",
              "alarmStatus": "Indeterminate",
              "serviceState": "IN_SERVICE"
            }
        {% endfor %}
      {% endfor %}
    {% endfor %}
]
