{% set routerId = data.routerId %}
{
    "-1": {
        "serialNumber": "", 
        "routerId": "{{ routerId }}", 
        "shelves": {
            "-1": {
                "slots": {
                    "-1": {
                        "ports": {
                            "-1": {
                            }
                        }
                    }
                } 
            }
        }
    }
}