{
    "type": "{{ data.nodeType.replace('/', '-') }}",
    "elementType": "{{ data.nodeType.replace('/', '-') }}",
    "serialNumber": "{{ data.nodeSerialNumber }}",
    "deviceVersion": "{{ data.nodeType.replace('/', '-') }}",
    "swType": "{{ data.nodeType.replace('/', '-') }}",
    "swImage": "{{ data.iosVersion }}",
    "swVersion": "{{ data.iosVersion }}"
}